// index.pug, compress:true, out: ../../public/index.html

doctype html

include ../_pugs/copyright.pug

html#page-index.page-index(lang="en")

	head
		meta(charset="utf-8")

		// seo
		title Tornbase
		meta(name="description" content="Tornbase - Torn City API Reader")
		link(rel="canonical" href="")

		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Tornbase")
		meta(property="og:title" content="Tornbase")
		meta(property="og:description" content="Tornbase - Torn City API Reader")
		meta(property="og:url" content="")

		script(type="application/ld+json").
			{
			"@type":"WebSite",
			"name":"Tornbase",
			"headline":"Tornbase",
			"description":"Tornbase - Torn City API Reader",
			"url":"",
			"author":"Nik Ahmad",
			"publisher":"Nik Ahmad",
			"image":null,
			"sameAs":null,
			"dateModified":null,
			"datePublished":null,
			"mainEntityOfPage":null,
			"@context":"http://schema.org"
			}
		// end seo

		// ux
		include ../_pugs/ux.pug

		link(rel="stylesheet" media="all" href="/_base/css/grid.css")
		link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" media="all" href="/tornbase/css/tornbase.css")

		// dev styles
		link(rel="stylesheet" media="all" href="/_base/css/grid-guide.css")
		style(type="text/css").
		
			.control {padding:10px}
			.control a {padding:1px 2px}
		
		//-style

		// local styles
		style(type="text/css").



		//-style

	//-head
	body

		// uxe
		include ../_pugs/uxe.pug

		#_view._view(hidden)
			#_app._app

				//- // dev
				//- include pugs/dev.pug

				.view(v-if=" view=='home' ")
					._fadein

						include pugs/menu-bar.pug
						main
							article._grid-box
								
								._row
									._col.mf40.mlf30.bf12-3
										section.t-noties
											t-noties(
												:item="item"
												:key="item.key"
												v-for="item in data.user_noties"
												)
										hr
									._col.mf60.mlf70.bf12-9
										include pugs/menu-buttons.pug
										hr
								//-row
								._row
									._col.mf40.mlf30.bf12-3
										section.t-bars
											t-bars(
												:item="bar"
												:key="bar.key"
												v-for="bar in data.user_bars"
												)
										hr
									._col.mf60.mlf70.bf12-9
										include pugs/user.pug
										hr
								//-row
								._row
									._col &nbsp;
								//-row
							//-article
						//-main

						._p &nbsp;

						footer
							.footer
								.t-credit._text-grey &copy; Copyright
								._p &nbsp;
						//-footer

					//-grid
				//-home
				.view(v-else-if=" view=='menu' ")
					aside._fadein.t-dialog.t-card.menu-page
						include pugs/menu-page.pug
				//-menu
				.view(v-else-if=" view=='keyDialog' ")
					aside._fadein.t-dialog.t-card.keyDialog
						include pugs/key-dialog.pug
					//-card
				//-keyDialog
				.view._layout(v-else-if=" view=='loading' ")
					aside._fadein
						._p.message._tag._text-grey
							i.material-icons._spin sync
							|
							|
							span Loading...
				//-loading
				.view._layout(v-else)
					aside._fadein
						._p.message._tag-red
							span._text-grey(v-html=" errorMessage ") 
						._p._actions
							a._a(@click="tryAgain()") Try again
				//-unknown error

			//-app
		//-view

		// core scripts
		script(src='/_base/js/base.js')

		// async scripts
		script(async src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js')
		script(async src="https://unpkg.com/axios/dist/axios.min.js")
		script(async src='/tornbase/js/tornbase-app.js')
		//-script
			script(async src='/tornbase/js/mockup.js')
			script(async src='/_libs/vuejs/dist/vue.js')
			script(async src='/_libs/axios/dist/axios.min.js')

	//-body
//-html
