// index.pug, compress:true, out: ../../public/index.html

doctype html

include ../_pugs/copyright.pug

html#page-index.page-index(lang="en")

	head
		meta(charset="utf-8")

		// seo
		title Tornbase
		meta(name="description" content="Tornbase - Torn City API Reader")
		link(rel="canonical" href="")

		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Tornbase")
		meta(property="og:title" content="Tornbase")
		meta(property="og:description" content="Tornbase - Torn City API Reader")
		meta(property="og:url" content="")

		script(type="application/ld+json").
			{
			"@type":"WebSite",
			"name":"Tornbase",
			"headline":"Tornbase",
			"description":"Tornbase - Torn City API Reader",
			"url":"",
			"author":"Nik Ahmad",
			"publisher":"Nik Ahmad",
			"image":null,
			"sameAs":null,
			"dateModified":null,
			"datePublished":null,
			"mainEntityOfPage":null,
			"@context":"http://schema.org"
			}
		// end seo

		// ux
		include ../_pugs/ux.pug

		link(rel="stylesheet" media="all" href="/_base/css/grid.css")
		link(rel="stylesheet" media="all" href="/_base/css/grid-guide.css")
		link(rel="stylesheet" media="all"
			href="https://fonts.googleapis.com/icon?family=Material+Icons")

		link(rel="stylesheet" media="all" href="/tornbase/css/tornbase.css")

		// local styles
		style(type="text/css").


		
		//-style

	//-head
	body
		#_app._app

			// uxe
			include ../_pugs/uxe.pug

			#_view._view(hidden)
				._

					.state(v-if=" db.user && db.user.error ")
						aside._fadein.t-dialog.t-card.invalidKey
							p.message._tag-red._text-grey
								span(v-html=" getErrorMessage('T-E',db.user.error) ") 
							p.actions
								a._a(@click="restart()") Try again

					.state(v-else-if=" state=='home' ")
						._grid-box._fadein
							include pugs/menu-bar.pug
							main
								article

									._row
										._col.mf40.bf20
											include pugs/user_notifications.pug
											hr
											include pugs/user_bars.pug
										//-col
										._col.mf60.bf20
											include pugs/user.pug
											hr
										//-col
										._col.mf100.bf60
											._ &nbsp;
										//-col
										
								//-article
							//-main
							._p &nbsp;
							footer._row
								._col
									.t-credit._text-grey &copy; Copyright
									._p &nbsp;
							//-footer
						//-grid
					//-home
					.state(v-else-if=" state=='menu' ")
						aside._fadein.t-dialog.t-card.menu-page
							include pugs/menu-page.pug
					//-menu
					.state(v-else-if=" state=='keyDialog' ")
						aside._fadein.t-dialog.t-card.keyDialog
							include pugs/key-dialog.pug
						//-card
					//-keyDialog

					.state(v-else-if=" state=='invalidKey' ")
						aside._fadein.t-dialog.t-card.invalidKey
							p.message._tag-red
								b Wrong key
							p.actions
								a._a(@click="restart()") Try again
						//-card
					//-invalidKey

					.state(v-else)
						aside._fadein.t-dialog.t-card.invalidKey
							p.message._tag-red
								span(v-html=" getErrorMessage('T-E',{code:'900',error:'Logic error'}) ") 
							p.actions
								a._a(@click="restart()") Try again

				//-layout
			//-view
		//-app

		// core scripts
		script(src='/_base/js/base.js')

		// async scripts
		script(async src='/_libs/vuejs/dist/vue.js')
		script(async src='/_libs/axios/dist/axios.min.js')
		script(async src='/tornbase/js/tornbase-app.js')
		//-script
			script(async src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js')
			script(async src="https://unpkg.com/axios/dist/axios.min.js")

	//-body
//-html
