// main: ../index.pug

nav.menu-bar
	button.i(
		@click="state='menu'"
		title="Menu"
		)
		i.material-icons menu
	button.il(
		@click="href('//torn.com/','_blank')"
		title="Go to Torn City"
		)
		i.material-icons location_city
		b Torn City
	button.i(
		@click="sync([['user'],['user','notifications'],['user','money'],['user','bars']])"
		:class="{'_no-outline':isLoading}"
		title="Sync Data"
		)
		i.material-icons(:class="{_spin:isLoading}") sync
			
//-nav
