// main: ../index.pug


nav.top-menu
	.home-button
		a._button.homeButton(
			@click="openUrl('//torn.com/','_blank')"
			title="Go to Torn City"
			)
			b.torn Torn
	.menu-bar
		button.i(
			@click="view='menu'"
			title="Menu"
			)
			i.material-icons menu
		button.i(
			@click="sync(TORN.USER_ALL)"
			:class="{'_no-focus':spinLoader}"
			:title=" spinLoader?'Synchronizing...':'Sync Data' "
			)
			i.material-icons(:class="{_spin:spinLoader}") sync
			
//-nav
