// main: ../index.pug

section(:key="user")
	._p._tag._text-grey(v-if="user==(void 0)")
		i.material-icons._spin sync
		|
		| Loading...
	._p._tag-red._text-grey(v-else-if=" db.user && db.user.error ")
		span(v-html=" getErrorMessage('T-U',db.user.error) ") 
		button._a(@click="sync([['user']])") Reload
	._(v-else-if="db.user")
		._p
			strong {{ db.user.name }}
			|
			| [
			|
			button._a(
				@click="href('//torn.com/profiles.php?XID=' + db.user.player_id,'_blank')"
				) {{ db.user.player_id }}
			|
			| ]
			|
			|
			i.material-icons(v-if="db.user.donator" title="Donator") star
		._p
			| {{ db.user.gender }} {{ db.user.role }}, age {{ db.user.age }}.
			br
			span Has {{ db.user.awards }} awards.
		hr
		._p._b
			span._caps {{ db.user.rank }}
			|
			| [ Level {{ db.user.level }} ]
		.t-status-icon
			i.material-icons {{ statusIcon }}
		._p(v-if=" db.user.status ") Currently {{ db.user.status[0] }} 
			span(
				v-if=" db.user.states && db.user.states.hospital_timestamp "
				:title=" formatBackstamp(db.user.states.hospital_timestamp) "
				) [ Hospitalized ]
			span(
				v-if=" db.user.states && db.user.states.jail_timestamp "
				:title=" formatBackstamp(db.user.states.jail_timestamp) "
				) [ Jailed ]
			br
			| Last active 
			span(:title=" formatBackstamp(db.user.last_action.timestamp) ") {{ db.user.last_action.relative }}
		._p(v-if=" db.user.basicicons && db.user.basicicons.icon35 ")
			button.il(@click="href('https://www.torn.com/bazaar.php','_blank')"
				title="Go to Bazaar")
				i.material-icons storefront
				b Your bazaar is open
		hr
		include user_money.pug
		hr
		._p
			| Lives in a <b>{{ db.user.property }}</b> [
			|
			button._a(
				@click="href('//torn.com/properties.php#/p=propertyinfo&ID='+ db.user.property_id +'&userID='+ db.user.player_id,'_blank')"
				) {{ db.user.property_id }}
			|
			| ]
	._p._tag._text-grey(v-else v-html="getErrorMessage('T-U')")
//-
