// main: ../index.pug

section.t-user-profile
	._fadein._p._tag._text-grey(v-if=" spinLoader ")
		i.material-icons._spin sync
		!=' '
		| Loading...
	._fadein(v-else-if="data.user")
		._p
			strong {{ data.user.name }}
			!=' [ '
			button._a(
				@click="openUrl('//torn.com/profiles.php?XID=' + data.user.player_id,'_blank')"
				title="Go to your profile"
				) {{ data.user.player_id }}
			!=' ] '
			.__.star(v-if="data.user.donator" title="Donator")
				i.material-icons local_play
		._p
			| {{ data.user.gender }} {{ data.user.role }}, age {{ data.user.age }}.
			br
			span Has {{ data.user.awards }} awards.
		hr
		._p._b
			span._caps {{ data.user.rank }}
			|
			| [ Level {{ data.user.level }} ]
		._p.t-status
			.t-status-icon(v-if="data.user.status")
				i.material-icons {{ statusIcon }}
			.t-status-message
				._(v-if="data.user.status" v-html="'Currently '+ data.user.status.join('. ')")
				._
					| Last activity
					!=' '
					span(:title=" formatTornTimestamp(data.user.last_action.timestamp) ") {{ data.user.last_action.relative }}
				._
					span(
						v-if=" data.user.states && data.user.states.hospital_timestamp "
						:title=" formatTornTimestamp(data.user.states.hospital_timestamp) "
						) [ Hospitalized ]
					span(
						v-if=" data.user.states && data.user.states.jail_timestamp "
						:title=" formatTornTimestamp(data.user.states.jail_timestamp) "
						) [ Jailed ]
		._p(v-if=" data.user.basicicons && data.user.basicicons.icon35 ")
			button.il(
				@click="openUrl('https://www.torn.com/bazaar.php','_blank')"
				title="Go to your bazaar"
				)
				i.material-icons storefront
				b Your bazaar is open
		hr
		include user_money.pug
		hr
		._p
			| Lives in a <b>{{ data.user.property }}</b>
			!=' [ '
			button._a(
				@click="openUrl('//torn.com/properties.php#/p=propertyinfo&ID='+ data.user.property_id +'&userID='+ data.user.player_id,'_blank')"
				:title=" 'Go to your '+data.user.property "
				) {{ data.user.property_id }}
			!=' ] '
	._fadein._p._tag._text-grey(v-else)
			| User profile is missing.
			!=' '
			a._a(@click=" sync(TORN.USER) ") Try reload

//-
