// main: ../index.pug

nav.t-noty
	button.ir(@click="openUrl('https://www.torn.com/messages.php','_blank')"
		:class="{ '_text-grey':!data.user_notifications_messages }"
		title="New Messages")
		i.material-icons email
		b {{data.user_notifications_messages||0}}
	button.ir(@click="openUrl('https://www.torn.com/events.php','_blank')"
		:class="{ '_text-grey':!data.user_notifications_events }"
		title="New Events")
		i.material-icons error
		b {{data.user_notifications_events||0}}
	button.ir(@click="openUrl('https://www.torn.com/awards.php','_blank')"
		:class="{ '_text-grey':!data.user_notifications_awards }"
		title="New Awards")
		i.material-icons stars
		b {{data.user_notifications_awards||0}}
	button.ir(@click="openUrl('https://www.torn.com/calendar.php','_blank')"
		:class="{ '_text-grey':!data.user_notifications_competition }"
		title="New Competition Alert")
		i.material-icons event
		b {{data.user_notifications_competition||0}}
//-
