nav._main-menu
	b
		a(href="/") Home
		span!= ' / '
		a(href="./") First
	
	span!= ' : '
	a(href="blank.html") Blank
	| 
	a(href="404.html") 404
	| 
	a(href="canvas.html") Canvas
	| 
	a(href="loading.html") Loading
