noscript._view._error
	._layout._fadein
		._message._tag
			b Javascript were blocked
			br
			| Please allow javascript to continue

#_error._view._error(hidden)
	._layout._fadein
		._message._tag
			b Error occured
			br
			| See console for details

#_spin._view._spin(hidden)
	._spinner
	._layout._fadein._delay-2
		._message
			b Loading...
			br
			| Please wait.
